MYSQL_DBNAME=go-api-demo
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_PORT=3306
MYSQL_USER=user

STORAGE_TYPE=sql
STORAGE_QUERY_TIMEOUT=3000

METRICS_ENABLED=true

LOGGING_PRODUCTION=false

TRACING_ENABLED=true

JAEGER_REPORTER_LOG_SPANS=false
JAEGER_SAMPLER_TYPE=const
JAEGER_SAMPLER_PARAM=1
JAEGER_SERVICE_NAME=go-api-demo

KAFKA_VERSION=2.7.0
KAFKA_BROKERS=localhost:9092
KAFKA_USER_CONSUMER_REBALANCE_STRATEGY=sticky
KAFKA_USER_CONSUMER_GROUP_ID=user-consumer-group-id
KAFKA_USER_CONSUMER_TOPICS=go_api_demo_db.go-api-demo.users
KAFKA_USER_CONSUMER_IS_ENABLED=true
